{% extends "api_app/base.html" %}
{% block content%}
    <div id="app">
        <li v-for="user in users">** user.email **</li>
    </div>
{% endblock%}
{% block script%}
<script>
    //  var params = new URLSearchParams(window.location.search);
     let param = location.search;
     let id = param.split('?')[1];
     const Counter = {
        data(){
            return {
                users:[]
            }
        },
        mounted(){
        axios.get(`https://jsonplaceholder.typicode.com/users?id=${id}`)
            .then(response => this.users = response.data)
            .catch(error => console.log(error))
        },
        delimiters: ['**', '**']
       }
       Vue.createApp(
        Counter
    ).mount('#app')
   
</script>
{% endblock %}
