{% extends "api_app/base.html" %}

{% block head %}
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
    ホームページ
{% endblock %}
{% block content %}
    <div style="margin-top:2%;">
        
        <span class="display-4">コミュニティー検索</span>
        <div class="input-group" style="margin-top: 3%;">
            <div class="search_box">
                <input type="text" class="form-control search_box" id="search-text" oninput="search()">
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary" style ="margin:1%;" onclick="CreatePage()">作成</button>
        <div id="parent-div"></div>
        <div class="center-block" style="text-align:center; margin: 3%;">
            <button type="button" class="btn btn-outline-dark" onclick="PretPage();">&lt;</button>
            <a type="button" class="btn btn-outline-dark" onclick="NextPage();">&gt;</a>
        </div>
    </div>
    <div id="counter">
        [[ message ]]
    </div>
    
    <style>
        .community {
    border: 1px solid; 
    border-color: #797979; 
    margin-left:2%; 
    margin-right:2%;
    margin-top:1%;
    box-shadow: 5px 5px 5px #999;
}

.search_box::before {
    content: "";           /* 疑似要素に必須 */
    width: 16px;           /* アイコンの横幅 */
    height: 16px;          /* アイコンの高さ */
    background: url(http://www.w3.org/2000/svg) no-repeat center center / auto 100%; /* 背景にアイコン画像を配置 */
    display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
    position: absolute;    /* 相対位置に指定 */
    top: 4px;              /* アイコンの位置。微調整してね */
    left: 5px;             /* アイコンの位置。微調整してね */
  }
    </style>
{% endblock %}


{% block script %}
    <!-- <script src="{% static 'css/home.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="module">
        // import Export from "./export";
        // import search from ''
        const Counter = {
        data() {
            return {
                message: "hello world"
            }
        },
       
        
        delimiters: ['[[', ']]']
       }
       
       Vue.createApp(
        Counter
    ).mount('#counter')
    
    </script>
    <script>
        //コミュニティーの数
let textbox = " ";
let community_name = ["勤怠管理システムを作りたい","hello","Machine Learning","S","example","sample"]
// let community_name;
let n = 5
let parentDiv = document.getElementById("parent-div");
let url = new URL(window.location.href)
let params = url.searchParams
let page;
let user_info
console.log("hello")


// async function populate() {
//     const requestURL = 'http://52.69.135.133:8888/api/community/';
//     const request = new Request(requestURL);
    
//     const response = await fetch(request);
//     const superHeroesText = await response.text();
//     //console.log(superHeroesText);
    
//     const superHeroes = JSON.parse(superHeroesText);
//     console.log(superHeroes);
//     community_name = superHeroes
// }
//  populate();

// async function populateuser() {
//     const requestURL = 'http://52.69.135.133:8888/api/user/';
//     const request = new Request(requestURL);
//     const response = await fetch(request);
//     const superHeroesText = await response.text();
//     const superHeroes = JSON.parse(superHeroesText);
//     console.log(superHeroes);
//     user_info = superHeroes
// }
//  populateuser();
//  console.log(user_info)
//検索されたときに発火、コミュニティ検索
function search(){
    
    // URLSearchParamsオブジェクトを取得
    // let start;
    // console.log(user_info[0].name)
    console.log(community_name[0])
    params.get('id') == "" ? page = 0 :page = Number(params.get('id'));
    textbox = document.getElementById("search-text");
    while(parentDiv.firstChild) parentDiv.removeChild(parentDiv.firstChild);
    for(let i = page*5;i < (page+1)*5;i++){      
        let linkURL = ""
        if(textbox.value == ""){
            if(community_name[i].name == undefined) break;
            var newElement = document.createElement("a"); 
            var newContent = document.createTextNode(`${community_name[i].name}`) 
            newElement.appendChild(newContent); 
            // url.searchParams.set('id',i);
            linkURL = `community.html?id=${community_name[i].id}`;
            // linkURL = linkURL + community_name[i];
            newElement.href = linkURL
            newElement.classList.add('nav-item')
            newElement.classList.add('nav-link')
            newElement.classList.add('active')
            newElement.classList.add('community')
            newElement.setAttribute("id",`${community_name[i].id}`) 
            parentDiv.appendChild(newElement)
        }
        
        if(textbox.value != ""){
            if(community_name[i].name == "") break;
            if(community_name[i].name.match(textbox.value)) {
                var newElement = document.createElement("a")
                var newContent = document.createTextNode(`${community_name[i].name}`)
                newElement.appendChild(newContent)
                linkURL = linkURL + community_name[i].name
                newElement.href = linkURL
                newElement.classList.add('nav-item')
                newElement.classList.add('nav-link')
                newElement.classList.add('active')
                newElement.classList.add('community')
                newElement.setAttribute("id",`${community_name[i].id}`)
                parentDiv.appendChild(newElement)
            }
        } 
    }
}   

function NextPage(){
    const url = new URL(window.location.href)
    if(community_name.length > page*5)page = page + 1
    url.searchParams.set('id', page);
    location.href = url.href;
}

function PretPage(){
    const url = new URL(window.location.href)
    console.log(url)
    if(page > 0) page = page - 1;
    url.searchParams.set('id', page)
    location.href = url.href
}

function CreatePage(){
    const url = new URL(window.location.href)
    location.href = "file:///C:/Hackathon/View/CreateCommunity.html"
    // console.log(url)
}


export default search
    </script>
{% endblock %}