{% extends "api_app/base.html" %}

{% block title %}アカウント登録{% endblock title %}
{% block content %}
<h3>アカウント登録</h3>

<div id="message">
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger">[[ message ]]</li>
    </ul>

    <div class="mb-3">
        <label class="form-label">ユーザ名</label>
        <input id="username" class="form-control" name="userName" type="text" />
    </div>
    <div class="mb-3">
        <label class="form-label">パスワード</label>
        <input name="password" type="password" class="form-control" />
    </div>
    <button v-on:click="addUser">登録</button>
</div>
{% endblock content %}
{% block script %}
<script>
    console.log(document.getElementById("username").value);
    const SignUp = {
        data() {
            return {
                message: '',
            }
        },
        methods: {
            addUser() {
                axios.post("http://127.0.0.1:8000/api/user/", {
                    username: document.getElementsByName("username").value,
                    password: document.getElementsByName("password").value,
                })
                    .then(response => this.message = response.data.username)
                    .catch(error => this.message = 'エラーです');
            },
        },
        delimiters: ['[[', ']]']
    }

    Vue.createApp(
        SignUp
    ).mount('#message')
</script>
{% endblock script %}